<div class="grid place-items-center bg-cover bg-center min-h-screen bg-[#FFF4E8]">
  <div class="flex z-0 items-center justify-center max-w-7xl gap-4 p-4 text-center">
    <div class="max-w-md">
      <span class="text-3xl font-bold">
        ¡Esta página no existe!
      </span>
      <div class="py-6 text-lg">
        <span>
          Haz clic
        </span>
        <a class="text-bold underline" routerLink="/clients">
          aquí para volver
        </a>
        <span>
        </span>
      </div>
    </div>
  </div>
</div>
